@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-body: #3f3f46;
  --text-heading: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-body: #d4d4d8;
    --text-heading: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--text-body);
  font-family: var(--font-manrope), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-family: var(--font-space-grotesk), sans-serif;
}
